@import url(https://fonts.bunny.net/css?family=acme:400|akaya-kanadaka:400|poppins:400,500,600,700,800,900);
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Poppins', sans-serif;
}

.glass{
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
}
.img-url{
    background: url("https://images.unsplash.com/photo-1635347319127-6a064615dedf?crop=entropy&cs=srgb&fm=jpg&ixid=M3w0ODcyOTV8MHwxfHNlYXJjaHwxNnx8dmFwZXxlbnwwfHx8fDE2OTI4OTQxMDJ8MA&ixlib=rb-4.0.3&q=85");
}
.bg-url{
    background: url("https://img.freepik.com/free-vector/christmas-snow-overlay-banner_1048-11097.jpg?w=996&t=st=1692953581~exp=1692954181~hmac=3c5db38731b6341d0525955bcd4639882f406a4f6f6ac2d3db664ceaa00d28b8");
}
.bg-url2{
    background: url("https://watermark.lovepik.com/photo/20211120/large/lovepik-ice-under-a-black-background-picture_500511641.jpg");
}
.bg-url3{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7Bq5Zp8iHRGXMshi5wNlL3zICO9gaAmryoQ&usqp=CAU");
}